<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/app.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/fonts/flaticon.css">
</head>
<body>

<div class="container">
	<menu></menu>
	<div id="inner">
		<header class="header-blur">
			<div class="header-shadow"></div>
		</header>
		<div id="contentWrap">
			<div id="topMargin"></div>
			<div class="popup">

			</div>
			<div id="content">
			</div>
		</div>
		<footer></footer>
	</div>
</div>

<!--templates -->
<script class="tmpl-header" type="text/template">
	<a href="" id="menuToggle">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</a>
	<span id="pageTitle"></span>
	<a href="/" class="logo"></a>
</script>

<script class="tmpl-header-nav" type="text/template">
	<button class="left arrow left-nav" data-vin="view-home" data-sd="sr">
		<div class="header-label">Back</div>
	</button>
	<span id="pageTitle"></span>
	<a href="/" class="logo"></a>
</script>

<script class="tmpl-index" type="text/template">
	<div class="template-content">
		<p>test</p>
	</div>
</script>

<script class="tmpl-footer" type="text/template">
	<div class="footer-shadow"></div>
	<div class="row">
	</div>
</script>

<script class="tmpl-login" type="text/template">
	<div class="page-container">
		<div class="login-container">
			<input type="email" class="login-input" id="loginUsername" placeholder="E-mail"/>
			<span class="form-divider"></span>
			<input type="password" class="login-input" id="loginPassword" placeholder="Password"/>
		</div>
	</div>
	<a href="#" class="btn btn-large login-button">Login</a>
</script>

<script class="tmpl-plugins" type="text/template">
	<div class="page-container">
			<p>Plugins</p>
	</div>
</script>

<script class="tmpl-main" type="text/template">
	<div class="app-list">
		<ul class="app-main-list">
<%_.each(apps.all, function(app){%>

			<li data-link="<%= app.link %>" class="app-list-item" data-appId="<%= app.id %>">
				<img src="images/icons/icon-72.png">

				<h3>Test App</h3>

				<p>Lorem ipsum dolor sit amet...</p>
			</li>
			<li class="app-info-container">
				<div class="app-details-box">
					<ul class="details-box-list">
						<li>App Id:</li>
						<li><span id="appId"></span></li>
						<li>Version:</li>
						<li><span id="version"></span></li>
						<li>PhoneGap:</li>
						<!--<li><span id="phonegap"></span></li>
						<li>Owned By</li>
						<li><span id="owned"></span></li>
						<li>Source</li>
						<li><span id="source"></span></li>-->
					</ul>
					<!--<ul class="app-extended-info">
						<li><a href="#" class="btn btn-small view-collaborators admin-only" data-appId="<%= app.id %>">Collaborators</a></li>
						<li><a href="#" class="btn btn-small view-plugins admin-only">Plugins</a></li>
						<li><i class="icon"></i></li>
					</ul>-->

					<ul class="app-options admin-only">
						<li>
							<h3>Hydration</h3>
							<div class="onoffswitch">
								<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox change-value"
									   data-property="hydrates" id="hydrationSwitch<%= app.id %>">
								<label class="onoffswitch-label" for="hydrationSwitch<%= app.id %>">
									<span class="onoffswitch-inner"></span>
									<span class="onoffswitch-switch"></span>
								</label>
							</div>
						</li>
						<li>
							<h3>Debug</h3>

							<div class="onoffswitch">
								<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox change-value"
									   data-property="debug" id="debugSwitch<%= app.id %>">
								<label class="onoffswitch-label" for="debugSwitch<%= app.id %>">
									<span class="onoffswitch-inner"></span>
									<span class="onoffswitch-switch"></span>
								</label>
							</div>
						</li>
						<li>
							<h3>Private</h3>

							<div class="onoffswitch">
								<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox change-value"
									   data-property="private" id="privateSwitch<%= app.id %>">
								<label class="onoffswitch-label" for="privateSwitch<%= app.id %>">
									<span class="onoffswitch-inner"></span>
									<span class="onoffswitch-switch"></span>
								</label>
							</div>
						</li>

					</ul>
					<ul class="app-controls">
						<li><a href="#" class="btn btn-large pull-latest admin-only" data-appId="<%= app.id %>">Update Code</a></li>
						<li><a href="#" class="btn btn-large admin-only">Rebuild All</a></li>
						<li><a href="#" class="btn btn-large">Debug</a></li>
						<li><a href="" target="_blank" id="installButton<%= app.id %>" class="btn btn-large">Install</a>
						</li>
					</ul>
				</div>
			</li>

			<%});%>
			  </ul>
	</div>
</script>

<!-- NPM MODULES -->

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/json2/lib/JSON2/static/json2.js"></script>
<script src="node_modules/underscore/underscore-min.js"></script>
<script src="node_modules/backbone/backbone-min.js"></script>

<!--SCRIPTS-->
<script src="js/app.js"></script>
<script src="js/router.js"></script>
<script src="js/libs/bootstrap.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/libs/jquery-1.11.1.min.js"></script>
<script src="js/libs/jquery.tmpl-1.0.0-beta.min.js"></script>
<script src="js/libs/underscore-min.js"></script>
<script src="js/views/footer.view.js"></script>
<script src="js/views/header.view.js"></script>
<script src="js/views/headerNav.view.js"></script>
<script src="js/views/index.view.js"></script>
<script src="js/views/login.view.js"></script>
<script src="js/views/main.view.js"></script>
<script src="js/views/plugins.view.js"></script>
<script src="js/views/collaborators.view.js"></script>
<script src="js/models/global.model.js"></script>
<!--SCRIPTS END-->

</body>
</html>
